body {
    background-color: #fffacd;
    font-family: sans-serif;
    margin: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 98vh;
    flex-direction: column;
}

app-comp1 {
    display: block; 
    margin-bottom: 60px; 
    -webkit-animation: vibrate-1 0.5s linear infinite both;
            animation: vibrate-1 0.5s linear infinite both;
}

@-webkit-keyframes vibrate-1 {
    0% {
        -webkit-transform: translate(0);
                transform: translate(0);
    }
    20% {
        -webkit-transform: translate(-2px, 2px);
                transform: translate(-2px, 2px);
    }
    40% {
        -webkit-transform: translate(-2px, -2px);
                transform: translate(-2px, -2px);
    }
    60% {
        -webkit-transform: translate(2px, 2px);
                transform: translate(2px, 2px);
    }
    80% {
        -webkit-transform: translate(2px, -2px);
                transform: translate(2px, -2px);
    }
    100% {
        -webkit-transform: translate(0);
                transform: translate(0);
    }
}

@keyframes vibrate-1 {
    0% {
        -webkit-transform: translate(0);
                transform: translate(0);
    }
    20% {
        -webkit-transform: translate(-2px, 2px);
                transform: translate(-2px, 2px);
    }
    40% {
        -webkit-transform: translate(-2px, -2px);
                transform: translate(-2px, -2px);
    }
    60% {
        -webkit-transform: translate(2px, 2px);
                transform: translate(2px, 2px);
    }
    80% {
        -webkit-transform: translate(2px, -2px);
                transform: translate(2px, -2px);
    }
    100% {
        -webkit-transform: translate(0);
                transform: translate(0);
    }
}

h1 {
    color: #000;
    font-size: 2.1em;
    margin-right: 130px;
    margin-top: -15px;
}

.shake-horizontal {
    -webkit-animation: shake-horizontal 1.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
            animation: shake-horizontal 1.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}

@-webkit-keyframes shake-horizontal {
    0%, 100% {
        -webkit-transform: translateX(0);
                transform: translateX(0);
    }
    10%, 30%, 50%, 70% {
        -webkit-transform: translateX(-10px);
                transform: translateX(-10px);
    }
    20%, 40%, 60% {
        -webkit-transform: translateX(10px);
                transform: translateX(10px);
    }
    80% {
        -webkit-transform: translateX(8px);
                transform: translateX(8px);
    }
    90% {
        -webkit-transform: translateX(-8px);
                transform: translateX(-8px);
    }
}

@keyframes shake-horizontal {
    0%, 100% {
        -webkit-transform: translateX(0);
                transform: translateX(0);
    }
    10%, 30%, 50%, 70% {
        -webkit-transform: translateX(-10px);
                transform: translateX(-10px);
    }
    20%, 40%, 60% {
        -webkit-transform: translateX(10px);
                transform: translateX(10px);
    }
    80% {
        -webkit-transform: translateX(8px);
                transform: translateX(8px);
    }
    90% {
        -webkit-transform: translateX(-8px);
                transform: translateX(-8px);
    }
}

.game-button {
    display: flex;
    align-items: center;
    background: transparent;
    border: none;
    margin: 20px 0;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
}

.game-button img {
    width: 100px;
    height: 85px;
    margin-right: 20px;
}

.game-button span {
    font-size: 1.2em;
    color: #000;
}

.game-button:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.games {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    -webkit-animation: jello-horizontal 3.5s both;
            animation: jello-horizontal 3.5s both;
}

@-webkit-keyframes jello-horizontal {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
                transform: scale3d(1, 1, 1);
    }
    30% {
        -webkit-transform: scale3d(1.25, 0.75, 1);
                transform: scale3d(1.25, 0.75, 1);
    }
    40% {
        -webkit-transform: scale3d(0.75, 1.25, 1);
                transform: scale3d(0.75, 1.25, 1);
    }
    50% {
        -webkit-transform: scale3d(1.15, 0.85, 1);
                transform: scale3d(1.15, 0.85, 1);
    }
    65% {
        -webkit-transform: scale3d(0.95, 1.05, 1);
                transform: scale3d(0.95, 1.05, 1);
    }
    75% {
        -webkit-transform: scale3d(1.05, 0.95, 1);
                transform: scale3d(1.05, 0.95, 1);
    }
    100% {
        -webkit-transform: scale3d(1, 1, 1);
                transform: scale3d(1, 1, 1);
    }
}

@keyframes jello-horizontal {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
                transform: scale3d(1, 1, 1);
    }
    30% {
        -webkit-transform: scale3d(1.25, 0.75, 1);
                transform: scale3d(1.25, 0.75, 1);
    }
    40% {
        -webkit-transform: scale3d(0.75, 1.25, 1);
                transform: scale3d(0.75, 1.25, 1);
    }
    50% {
        -webkit-transform: scale3d(1.15, 0.85, 1);
                transform: scale3d(1.15, 0.85, 1);
    }
    65% {
        -webkit-transform: scale3d(0.95, 1.05, 1);
                transform: scale3d(0.95, 1.05, 1);
    }
    75% {
        -webkit-transform: scale3d(1.05, 0.95, 1);
                transform: scale3d(1.05, 0.95, 1);
    }
    100% {
        -webkit-transform: scale3d(1, 1, 1);
                transform: scale3d(1, 1, 1);
    }
}
